---
type Props = {
  author: string;
  size?: "sm" | "lg";
  class?: string;
};

const { author, size = "sm", class: className = "" } = Astro.props;
---

<div class:list={["flex items-center gap-x-2 opacity-80", className]}>
  <span class:list={["text-sm", { "sm:text-base": size === "lg" }]}
    >Author:
  </span>

  <span class:list={["text-sm", { "sm:text-base": size === "lg" }]}
    >{author}</span
  >
</div>
